.Contact-Icons-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-right: 35px;
}
.Contact-Icons:link,
.Contact-Icons:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  height: 100%;
  width: 100%;
}
